html,body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0%;
    height: 100%;
    font-size: 16px;
}


body{
    background-image: url(keyboard.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 1.5rem;

}


.sign{
    
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.sign-word{
    font-size: 4.3rem;
    text-align: center;
    line-height: 1.5;
    color: aliceblue;
    animation: neon 1s ease-in-out infinite alternate;
}


@keyframes neon {
    from{
        text-shadow: 0 0 6px rgba(30,132,242,0.52),
                    0 0 30px rgba(202,228,225,0.34),
                    0 0 12px rgba(30,132,242,0.52),
                    0 0 21px rgba(30,132,242,0.92),
                    0 0 34px rgba(88,182,242,0.9),
                    0 0 54px rgba(30,132,242,0.92),
                    0 0 44px rgba(30,132,242,0.42);

    }
}